@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{

    position: relative;

}
.wrapper:hover::after {
        position: absolute;
        content: attr(data-content) ' types';
        display: inline-block;
        left: 0;
        top: 0;
        padding: 2px;
        background-color: black;
        color: white;
    }
